/* Background color for body */
body {

    background-color:  #f6f6f6;

}

p {

    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif

}

h2 {

    font-family:Arial, Helvetica, sans-serif

}

h3 {

   font-size: 20px;

}
/* home */
.home {

    background: url(../images/sharon-mccutcheon-unsplash.jpg) no-repeat;
    background-position: cover;

}

.home .content-wrapper {

    background: rgb(255, 255, 255 / 0.9);

}

/* footer */
footer {

background: #c7c683;
color: #526997;

}

